{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="container">
    <h2>create an account</h2>
    <div class="row">
     <div class="col-lg-1"></div>     
     <div class="col-lg-6">
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
     </div>
    </div>
</div>
{% endblock fos_user_content %}
